@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;700&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: lightgrey;
}
.colors1 {
    display: flex;
}
.squarewhite {
    height: 100px;
    width: 100px;
    background-color: #FFF;
    margin-left: 15px;
}
.squareblack {
    height: 100px;
    width: 100px;
    background-color: #000;
    margin-left: 20px;
}
.squarered {
    height: 100px;
    width: 100px;
    background-color: #c92828;
    margin-left: 20px;
}
.colors1 h2 {
    margin-left: 20px;
    font-weight: lighter;
}
.code1 {
    display: flex;
}
.code1 h3 {
    margin-left: 30px;
    font-weight: lighter;
}
.typo1 {
    display: flex;
}
.typo1 h1 {
    font-size: 48px;
    text-align: left;
    padding: 0% 30%;
    margin-left: -30%;
}
.typo1 h2 {
    font-weight: lighter;
    margin-top: 100px;
    margin-right: 500%;
}
.typo2 {
    display: flex;
}
.typo2 h1 {
    font-weight: normal;
    font-size: 36px;
    text-align: left;
    padding: 0% 30%;
    margin-left: -30%;
}
.typo2 h2 {
    font-weight: lighter;
    margin-top: 50px;
    margin-right: 500%;
    transition: color 0.3s;
}
.typo3 {
    display: flex;
}
.typo3 p {
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    padding: 0% 30%;
    margin-left: -30%;
}
.typo3 h2 {
    font-weight: lighter;
    margin-top: 10px;
    margin-right: 500%;
}
.button1 {
    display: flex;
}
.button1 h1 {
    padding: 0%;
    transition-duration: 0.3s;
}
.button1 h1:hover {
    color: #c92828;
}
.button1 a.button {
    background-color:#c92828;
    padding: 2%;
    color:#000;
    border-radius: 5px;
    font-weight: lighter;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-left: 5%;
}
.button1 a.button:hover {
    background-color: #f47777;
    transform: translateY(-7px);
}
.logo1 img {
    width: 10%;
    margin-left: 5%;
}
