@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

body {
	margin: 0;
	font-family: "Fredoka", sans-serif;
}

.wrapper1 {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(8, minmax(25px, auto));
	position: relative;
}

header {
	grid-column: 1/15;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	margin: 10px 0;
}

.sky {
	grid-column: 1/15;
	grid-row: 1;
	width: 102%;
	position: absolute;
}

header nav ul li {
	display: none;
}

.logo {
	width: 100%;
	grid-column: 7/9;
	margin-top: 10px;
	position: absolute;
	z-index: 1;
}

.wrapper1 h1 {
	position: absolute;
	z-index: 2;
	color: white;
	grid-column: 3/14;
	grid-row: 2;
	font-size: 20pt;
	font-weight: 600;
	text-align: center;
}

.green-arrow {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 3/4;
	grid-row: 6;
}

.yellow-line-home {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 7/14;
	grid-row: 4;
	margin-top: -3px;
	margin-left: 5px;
}

.pink-line-home {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 5/11;
	grid-row: 5;
	margin-top: 5px;
}

.wrapper2 {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(14, minmax(25px, auto));
	position: relative;
}

.wrapper2 h2 {
	grid-column: 2/8;
	grid-row: 1;
	font-weight: 500;
	font-size: 22px;
}

.whoarewe {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 1/7;
	grid-row: 2;
	margin-left: 15px;
	margin-top: -15px;
}

.home-p1 {
	font-weight: 400;
	font-size: 12px;
	grid-column: 2/14;
	grid-row: 2;
}

.home-p2 {
	font-weight: 400;
	font-size: 12px;
	grid-column: 2/14;
	grid-row: 3;
}

.whoarewe-yellow {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 3/5;
	grid-row: 10;
}

.pink-blob {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 3/14;
	grid-row: 5;
}

.whoarewe-redheart {
	position: absolute;
	z-index: 1;
	width: 100%;
	margin-top: 20px;
	grid-column: 12/14;
	grid-row: 4;
}

.home-p3 {
	color: white;
	z-index: 2;
	font-weight: 400;
	font-size: 12px;
	grid-column: 4/13;
	grid-row: 6;
}

.li-1 {
	color: white;
	z-index: 2;
	font-weight: 400;
	font-size: 12px;
	grid-column: 4/13;
	grid-row: 7;
	list-style: none;
	margin: 0;
	padding-bottom: 10px;
}

.li-2 {
	color: white;
	z-index: 2;
	font-weight: 400;
	font-size: 12px;
	grid-column: 4/13;
	grid-row: 8;
	list-style: none;
	margin: 0;
	padding-bottom: 10px;
}

.li-3 {
	color: white;
	z-index: 2;
	font-weight: 400;
	font-size: 12px;
	grid-column: 4/13;
	grid-row: 9;
	list-style: none;
	margin: 0;
}

.red-smiley {
	width: 100%;
	grid-column: 1/15;
	grid-row: 13;
}

.wrapper3 {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(15, minmax(25px, auto));
	position: relative;
}

.een {
	width: 100%;
	grid-column: 2/8;
}

.twee {
	width: 100%;
	grid-column: 9/15;
}

.drie {
	width: 100%;
	grid-column: 2/8;
	grid-row: 3;
}

.vier {
	width: 100%;
	grid-column: 9/15;
	grid-row: 3;
}

.vijf {
	width: 100%;
	grid-column: 2/8;
	grid-row: 5;
}

.zes {
	width: 100%;
	grid-column: 9/15;
	grid-row: 5;
}

.zeven {
	width: 100%;
	grid-column: 2/8;
	grid-row: 7;
}

.acht {
	width: 100%;
	grid-column: 9/15;
	grid-row: 7;
}

.negen {
	width: 100%;
	grid-column: 2/8;
	grid-row: 9;
}

.tien {
	width: 100%;
	grid-column: 9/15;
	grid-row: 9;
}

.elf {
	width: 100%;
	grid-column: 2/8;
	grid-row: 11;
}

.twaalf {
	width: 100%;
	grid-column: 9/15;
	grid-row: 11;
}

.dertien {
	width: 100%;
	grid-column: 2/8;
	grid-row: 13;
}

.veertien {
	width: 100%;
	grid-column: 9/15;
	grid-row: 13;
}

.green-crown {
	position: absolute;
	width: 100%;
	grid-column: 1/3;
	grid-row: 2;
}

.yellow-star {
	position: absolute;
	width: 100%;
	grid-column: 14/16;
	grid-row: 4;
}

.pink-cloud {
	position: absolute;
	width: 100%;
	grid-column: 7/10;
	grid-row: 6;
}

.red-wind {
	position: absolute;
	width: 100%;
	grid-column: 2/4;
	grid-row: 8;
}

.pink-grass {
	position: absolute;
	width: 100%;
	grid-column: 1/3;
	grid-row: 12;
}

.blue-water {
	position: absolute;
	width: 100%;
	grid-column: 10/13;
	grid-row: 10;
}

.green-flower {
	position: absolute;
	z-index: 2;
	align-self: center;
	width: 100%;
	grid-column: 13/15;
	grid-row: 16;
}

.wrapper4 {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(11, minmax(25px, auto));
	position: relative;
}

.blue-background {
	width: 101%;
	grid-column: 1/15;
	grid-row: 1/10;
}

.blue-background2 {
	display: none;
}

.wrapper4 h2 {
	position: absolute;
	z-index: 2;
	grid-column: 2/9;
	grid-row: 1;
	font-weight: 500;
	font-size: 22px;
	color: white;
}

.wrapper4 p {
	position: absolute;
	z-index: 2;
	grid-column: 2/9;
	grid-row: 2;
	font-weight: 400;
	font-size: 12px;
	color: white;
}

.yellow-line {
	width: 100%;
	position: absolute;
	z-index: 2;
	grid-column: 1/8;
	grid-row: 1;
	top: 48px;
	left: 15px;
}

.red-smiley-amis {
	width: 100%;
	position: absolute;
	z-index: 2;
	grid-column: 2/4;
	grid-row: 8;
}

.green-logo-1 {
	width: 100%;
	grid-column: 2/4;
	grid-row: 10;
}

.google-maps {
	width: 40%;
	grid-column: 10;
	grid-row: 10;
	align-self: end;
	justify-self: center;
}

.facebook {
	width: 30%;
	grid-column: 11;
	grid-row: 10;
	align-self: end;
	justify-self: center;
}

.insta {
	width: 50%;
	grid-column: 12;
	grid-row: 10;
	align-self: end;
	justify-self: center;
}

.mail {
	width: 50%;
	grid-column: 13;
	grid-row: 10;
	align-self: end;
	justify-self: center;
}

/* https://alvarotrigo.com/blog/hamburger-menu-css/ -> 6. Snappy Sliding Hamburger Menu*/

#menu__toggle {
	opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
	top: 0;
	transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	left: 0 !important;
}
.menu__btn {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 200;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: white;
	transition-duration: 0.25s;
}

.menu__btn > span::before {
	content: "";
	top: -8px;
}
.menu__btn > span::after {
	content: "";
	top: 8px;
}
.menu__box {
	display: block;
	position: fixed;
	z-index: 100;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: darkseagreen;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
	transition-duration: 0.25s;
}
.menu__item {
	display: block;
	padding: 12px 24px;
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	transition-duration: 0.25s;
}
.menu__item:hover {
	background-color: #cfd8dc;
}

.taal a,
.taal {
	display: inline;
}

.slideshow {
	position: absolute;
	grid-column: 1/15;
	grid-row: 4;
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr;
	justify-items: center;
	align-items: center;
}

.logoslideshow {
	grid-column: 2/3;
	display: none;
}

.logo1 {
	display: block;
}

.slideshow img {
	width: 100%;
}

figure {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	display: block;
}

.arrowleft,
.arrowright {
	color: white;
}

.slideshow p {
	font-weight: 400;
	font-size: 12px;
	width: 70%;
}

@media (min-width: 768px) {
	.wrapper1 {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(14, 1fr);
		grid-template-rows: repeat(16, minmax(25px, auto));
		position: relative;
	}

	header {
		grid-column: 1/15;
		display: grid;
		grid-template-columns: repeat(15, 1fr);
		margin: 10px 0;
		position: absolute;
		width: 100%;
	}

	header nav {
		z-index: 2;
		grid-column: 2/14;
		align-self: center;
		width: 100%;
	}

	header nav ul {
		margin: 0;
		padding: 0;
		float: left;
	}

	header nav ul li {
		display: inline;
		padding-right: 10px;
	}

	header nav ul li a {
		color: white;
		text-decoration: none;
		font-size: 15px;
		font-weight: 500;
	}

	.lang {
		padding-left: 10px;
		float: right;
		margin-right: -55px;
	}

	.hamburger-menu {
		display: none;
	}

	.wrapper1 h1 {
		grid-column: 4/12;
		grid-row: 5;
		font-size: 30pt;
		text-align: center;
	}

	.green-arrow {
		width: 80%;
		grid-column: 3/4;
		grid-row: 14;
	}

	.yellow-line-home {
		grid-column: 7/12;
		grid-row: 8;
	}

	.pink-line-home {
		grid-column: 5/9;
		grid-row: 10;
		margin-top: -3px;
		margin-left: 30px;
	}

	.wrapper2 {
		grid-template-rows: repeat(15, minmax(25px, auto));
	}

	.wrapper2 h2 {
		grid-column: 2/8;
		grid-row: 4;
		font-size: 32px;
		margin: 0;
		color: #333;
	}

	.whoarewe {
		grid-column: 2/6;
		grid-row: 5;
		margin-left: -10px;
		margin-top: 2px;
	}

	.home-p1 {
		font-size: 15px;
		grid-column: 2/8;
		grid-row: 6;
	}

	.home-p2 {
		font-size: 15px;
		grid-column: 2/8;
		grid-row: 7;
	}

	.pink-blob {
		grid-column: 8/14;
		grid-row: 6;
	}

	.home-p3 {
		color: white;
		font-size: 15px;
		grid-column: 9/13;
		grid-row: 6;
	}

	.li-1 {
		color: white;
		font-size: 15px;
		grid-column: 9/13;
		grid-row: 7;
		margin-top: -10px;
	}

	.li-2 {
		color: white;
		font-size: 15px;
		grid-column: 9/13;
		grid-row: 7;
		margin-top: 35px;
	}

	.li-3 {
		color: white;
		font-size: 15px;
		grid-column: 9/13;
		grid-row: 8;
		margin-top: -20px;
	}

	.whoarewe-redheart {
		margin-top: -20px;
		margin-left: 20px;
		grid-column: 12/13;
		grid-row: 6;
	}

	.whoarewe-yellow {
		grid-column: 1/2;
		grid-row: 8;
		margin-left: 10px;
	}

	.red-smiley {
		grid-row: 12;
	}

	.wrapper3 {
		grid-template-columns: repeat(19, 1fr);
		grid-template-rows: repeat(14, minmax(25px, auto));
	}

	.een {
		grid-column: 2/7;
	}

	.twee {
		grid-column: 8/13;
	}

	.drie {
		grid-column: 14/19;
		grid-row: 1;
	}

	.vier {
		grid-column: 2/7;
		grid-row: 4;
	}

	.vijf {
		grid-column: 8/13;
		grid-row: 4;
	}

	.zes {
		grid-column: 14/19;
		grid-row: 4;
	}

	.zeven {
		grid-column: 2/7;
		grid-row: 6;
	}

	.acht {
		grid-column: 8/13;
		grid-row: 6;
	}

	.negen {
		grid-column: 14/19;
		grid-row: 6;
	}

	.tien {
		grid-column: 2/7;
		grid-row: 8;
	}

	.elf {
		grid-column: 8/13;
		grid-row: 8;
	}

	.twaalf {
		grid-column: 14/19;
		grid-row: 8;
	}

	.dertien {
		grid-column: 5/10;
		grid-row: 10;
	}

	.veertien {
		grid-column: 11/16;
		grid-row: 10;
	}

	.green-crown {
		grid-column: 1/3;
		grid-row: 2;
		margin: 10px;
	}

	.yellow-star {
		width: 90%;
		grid-column: 18/20;
		grid-row: 3;
	}

	.pink-cloud {
		width: 90%;
		grid-column: 9/12;
		grid-row: 5;
	}

	.red-wind {
		width: 80%;
		grid-column: 2/4;
		grid-row: 7;
	}

	.pink-grass {
		width: 100%;
		grid-column: 2/4;
		grid-row: 10;
		margin-top: 50px;
	}

	.blue-water {
		width: 100%;
		grid-column: 16/19;
		grid-row: 9;
	}

	.green-flower {
		position: absolute;
		z-index: 2;
		align-self: center;
		width: 100%;
		grid-column: 16/18;
		grid-row: 15;
	}

	.wrapper4 {
		grid-template-rows: repeat(11, minmax(25px, auto));
	}

	.blue-background {
		display: none;
	}

	.blue-background2 {
		display: block;
		width: 101%;
		grid-column: 1/15;
		grid-row: 1/10;
	}

	.wrapper4 h2 {
		grid-column: 2/9;
		grid-row: 1;
		font-size: 32px;
		top: 20px;
	}

	.yellow-line {
		grid-column: 1/6;
		grid-row: 1;
		left: 35px;
		margin-top: 40px;
	}
	.wrapper4 p {
		grid-column: 2/7;
		grid-row: 1;
		font-size: 15px;
		top: 110px;
	}

	.slideshow {
		position: absolute;
		grid-column: 1/15;
		grid-row: 4;
		display: grid;
		grid-template-columns: 0.5fr 1fr 0.5fr;
		justify-items: center;
		align-items: center;
	}

	.logoslideshow {
		grid-column: 2/3;
		display: none;
	}

	.logo1 {
		display: block;
	}

	.slideshow img {
		width: 100%;
	}

	figure {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		display: block;
	}

	.arrowleft,
	.arrowright {
		color: white;
		font-size: 30px;
	}

	.slideshow p {
		font-size: 15px;
		width: 70%;
		margin-top: 200px;
	}

	.red-smiley-amis {
		width: 80%;
		grid-column: 2/4;
		grid-row: 8;
	}

	.green-logo-1 {
		width: 100%;
		grid-column: 2/3;
		grid-row: 10;
	}

	.google-maps {
		width: 20%;
		grid-column: 10;
		grid-row: 10;
		align-self: end;
		justify-self: center;
	}

	.facebook {
		width: 15%;
		grid-column: 11;
		grid-row: 10;
		align-self: end;
		justify-self: center;
	}

	.insta {
		width: 30%;
		grid-column: 12;
		grid-row: 10;
		align-self: end;
		justify-self: center;
	}

	.mail {
		width: 30%;
		grid-column: 13;
		grid-row: 10;
		align-self: end;
		justify-self: center;
	}
}

@media (min-width: 1240px) {
	.sky {
		width: 105%;
	}

	header {
		top: 20px;
	}

	header nav ul li {
		padding-right: 20px;
	}

	header nav ul li a {
		font-size: 20px;
	}

	.lang {
		padding-left: 10px;
		float: right;
		margin-right: -95px;
	}

	.logo {
		width: 90%;
		grid-column: 7/9;
		margin-top: 10px;
	}

	.wrapper1 {
		grid-template-rows: repeat(28, minmax(25px, auto));
	}

	.wrapper1 h1 {
		grid-column: 3/13;
		grid-row: 7;
		font-size: 55pt;
	}

	.yellow-line-home {
		grid-column: 7/13;
		grid-row: 12;
		margin-top: 5px;
	}

	.pink-line-home {
		grid-column: 5/10;
		grid-row: 16;
		margin-left: 0px;
	}

	.green-arrow {
		width: 70%;
		grid-column: 3/4;
		grid-row: 22;
	}

	.wrapper2 {
		width: 105%;
		grid-template-rows: repeat(22, minmax(25px, auto));
	}

	.wrapper2 h2 {
		grid-column: 2/8;
		grid-row: 4;
		font-size: 42px;
		margin: 0;
		color: #333;
	}

	.whoarewe {
		grid-column: 2/5;
	}

	.home-p1 {
		font-size: 23px;
		grid-column: 2/8;
		grid-row: 6;
	}

	.home-p2 {
		font-size: 23px;
		grid-column: 2/8;
		grid-row: 7;
	}

	.pink-blob {
		grid-column: 8/14;
		grid-row: 5;
	}

	.home-p3 {
		font-size: 23px;
		grid-column: 9/13;
		grid-row: 6;
	}

	.li-1 {
		font-size: 23px;
		grid-column: 9/13;
		grid-row: 7;
		margin-top: -30px;
	}

	.li-2 {
		font-size: 23px;
		grid-column: 9/13;
		grid-row: 7;
		margin-top: 45px;
	}

	.li-3 {
		font-size: 23px;
		grid-column: 9/13;
		grid-row: 8;
		margin-top: -10px;
	}

	.whoarewe-redheart {
		margin-top: -30px;
		margin-left: 20px;
		grid-column: 12/13;
		grid-row: 5;
	}

	.red-smiley {
		grid-row: 16;
	}

	.wrapper3 {
		width: 105%;
		grid-template-columns: repeat(25, 1fr);
		grid-template-rows: repeat(13, minmax(25px, auto));
	}

	.een {
		grid-column: 2/7;
	}

	.twee {
		grid-column: 8/13;
	}

	.drie {
		grid-column: 14/19;
		grid-row: 1;
	}

	.vier {
		grid-column: 20/25;
		grid-row: 1;
	}

	.vijf {
		grid-column: 5/10;
		grid-row: 3;
	}

	.zes {
		grid-column: 11/16;
		grid-row: 3;
	}

	.zeven {
		grid-column: 17/22;
		grid-row: 3;
	}

	.acht {
		grid-column: 2/7;
		grid-row: 5;
	}

	.negen {
		grid-column: 8/13;
		grid-row: 5;
	}

	.tien {
		grid-column: 14/19;
		grid-row: 5;
	}

	.elf {
		grid-column: 20/25;
		grid-row: 5;
	}

	.twaalf {
		grid-column: 5/10;
		grid-row: 7;
	}

	.dertien {
		grid-column: 11/16;
		grid-row: 7;
	}

	.veertien {
		grid-column: 17/22;
		grid-row: 7;
	}

	.green-crown {
		width: 90%;
		grid-column: 3/6;
		grid-row: 2;
		margin-top: -40px;
		margin-left: 20px;
	}

	.yellow-star {
		width: 95%;
		grid-column: 21/23;
		grid-row: 2;
		margin-left: 20px;
	}

	.pink-cloud {
		width: 95%;
		grid-column: 12/15;
		grid-row: 4;
		margin-top: -20px;
	}

	.red-wind {
		width: 90%;
		grid-column: 10/12;
		grid-row: 6;
		margin-left: -10px;
		margin-top: -15px;
	}

	.pink-grass {
		width: 110%;
		grid-column: 2/4;
		grid-row: 7;
		margin-top: 50px;
	}

	.blue-water {
		width: 95%;
		grid-column: 22/25;
		grid-row: 6;
	}

	.green-flower {
		width: 105%;
		grid-column: 21/23;
		grid-row: 14;
	}

	.wrapper4 {
		width: 105%;
		grid-template-rows: repeat(11, minmax(25px, auto));
	}

	.blue-background2 {
		display: block;
		width: 102%;
		grid-column: 1/15;
		grid-row: 1/10;
	}

	.wrapper4 h2 {
		grid-column: 2/9;
		grid-row: 1;
		font-size: 42px;
		top: 20px;
	}

	.yellow-line {
		grid-column: 2/6;
		grid-row: 1;
		left: -25px;
		margin-top: 60px;
	}

	.wrapper4 p {
		grid-column: 2/14;
		grid-row: 2;
		font-size: 23px;
		top: -20px;
	}

	.slideshow {
		width: 100%;
		position: absolute;
		grid-column: 1/15;
		grid-row: 3;
		display: grid;
		grid-template-columns: 0.5fr 1fr 0.5fr;
		justify-items: center;
		align-items: center;
	}

	.logoslideshow {
		grid-column: 2/3;
		display: none;
		margin-left: -350px;
	}

	.logo1 {
		display: block;
	}

	.slideshow img {
		width: 200%;
	}

	figure {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		display: block;
	}

	.arrowleft,
	.arrowright {
		color: white;
		font-size: 40px;
	}

	.slideshow p {
		font-size: 23px;
		width: 75%;
		margin-top: 50px;
	}

	.red-smiley-amis {
		width: 70%;
		grid-column: 2/4;
		grid-row: 8;
	}

	.green-logo-1 {
		width: 100%;
		grid-column: 2/3;
		grid-row: 10;
	}

	.google-maps {
		width: 20%;
		grid-column: 10;
		grid-row: 10;
		align-self: end;
		justify-self: center;
	}

	.facebook {
		width: 15%;
		grid-column: 11;
		grid-row: 10;
		align-self: end;
		justify-self: center;
	}

	.insta {
		width: 30%;
		grid-column: 12;
		grid-row: 10;
		align-self: end;
		justify-self: center;
	}

	.mail {
		width: 30%;
		grid-column: 13;
		grid-row: 10;
		align-self: end;
		justify-self: center;
	}
}
