@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    background-image:url(images/footer\ wave.png);
    background-repeat: no-repeat;
    width: 100%;
}

@media (min-width: 480px) {
	.footer img{
        margin-top: 10px;
        width:  10%;
        }   
        .footer{
            margin-top: 60%;
            width: 100%; 
            word-spacing: 50px;
            text-align: center;
            display: flex;
	        flex-wrap: wrap;   
            font-size: 0px;           
        }

        .background{
            width:100%;
        }
       
}

@media (min-width: 768px) {
	.footer img{
        margin-top: 10px;
        width:  10%;
        }
        
        .footer{
           
            width: 100%;
            word-spacing: 50px;
            text-align: center;
            display: flex;
	        flex-wrap: wrap;   
            font-size: 0px;        
            
        }
}

@media (min-width: 1240px) {
	.footer img{
        margin-top: 10px;
        width:  3%;
        }
        
        .footer{
            margin-top: 13%;
            width: 100%;
            word-spacing: 50px;
            text-align: right;
            display: flex;
	        flex-wrap: wrap;   
            font-size:20px;      
            
        }
}