@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    margin: 0 auto;
}
.wrapper1 {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: repeat(8, minmax(25px, auto));
	position: relative;
}

header {
	grid-column: 1/15;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	margin: 10px 0;
}

.sky {
	grid-column: 1/15;
	grid-row: 1;
	width: 100%;
	position: absolute;
}

header nav ul li {
	display: none;
}

.logo {
	width: 100%;
	grid-column: 7/9;
	margin-top: 10px;
	position: absolute;
	z-index: 1;
}

.wrapper1 h1 {
	position: absolute;
	z-index: 2;
	color: white;
	grid-column: 3/14;
	grid-row: 2;
	font-size: 20pt;
	font-weight: 600;
}

.green-arrow {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 3/4;
	grid-row: 6;
}

.yellow-line-home {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 7/14;
	grid-row: 4;
	margin-top: -3px;
	margin-left: 5px;
}

.pink-line-home {
	position: absolute;
	z-index: 1;
	width: 100%;
	grid-column: 5/11;
	grid-row: 5;
	margin-top: 5px;
}



