* {
    box-sizing: border-box !important;
}

.history {
    padding: 5%;
}

.history h2{
    position: relative;
}

.history h2 img{
    position: absolute;
    bottom: -30%;
    left: 0;
    width: 70%;
}

.historyImage {
    /* background-color: blue; */
    width: 100%;
    margin: 0%;
}

.historyImage img {
    width: 100%;
}

.history button {
    border: none;
    /* width: 9.111111111111111%; */
    background-color: none;
    background-color: #32A0C4;
    /* border: 0.2px solid rgba(165, 165, 165, 0.664); */
    display: block;
    float: left;
    padding: 2% 3%;
    margin-left: 2%;
    margin-top: 5%;
    transition: ease 0.5s;
    cursor: pointer;
    color: white;
}

.history button:hover {
    background-color: #1b586d;
    border: #1b586d;
    color: white;
}

.history button:nth-child(11) {
    margin-left: 0%;
}


/* .historyTekst {
    background-color: green;
} */

#history2 {
    display: none;
}

#history3 {
    display: none;
}

#history4 {
    display: none;
}

#history5 {
    display: none;
}

#history6 {
    display: none;
}

#history7 {
    display: none;
}

#history8 {
    display: none;
}

#history9 {
    display: none;
}
